
footer{

z-index: 10;
height: 50px;
float:left;
padding:0;
width:100%;
background-color:black;
margin-top:35px;	

}

footer ul{
	float:left;
}

footer p{
	float:right;
	color:white;
}

footer li{ 
	margin-top:15px;
	
	text-decoration:none;
	list-style:none;
	

}
